# LLM APIs
anthropic
backoff
openai
# Viz
pypdf
pymupdf4llm
seaborn
# Common Requirements
transformers
datasets
tiktoken
wandb
humanize
dataclasses-json
funcy
genson
shutup
python-igraph
coolname
omegaconf
botocore
boto3
